@charset "UTF-8";
/*css base */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }   
ul, ol { list-style:none; }
input {font-family: "SimSun","宋体";border:1px solid #000}
select, input { vertical-align:middle;}
select, input, textarea { margin:0; }
textarea { resize:none; } 
img {border:0; vertical-align:middle; } 
.clearfix:before,.clearfix:after { 
    content:"";
    display:table;
}
p{color:#fff}
a{text-decoration:none}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}  
s,i,em{font-style:normal;text-decoration:none;}

/* Setting the overall height of the page */
html,body,#root,#root>div,.App{
    height:100%;
}

/*  main content */

.main {
    padding-top: 50px;
    box-sizing: border-box;
} 

.App {
    display: flex;
}

.App .sidebar-out {
    flex : 0 0 300px;
}

.App .main {
    flex :1;
    height:100%;
    overflow-y: auto; 
}

.main .search-title {
    margin:20px 0 30px 0;
    padding: 0 40px;
}

.main .main-content {
    padding: 0 30px;
    box-sizing: border-box;
    height:100%;
}